<h1> Login </h1>

<%= flash[:message] if flash[:message]%>

<%= form_for :user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Login" %>
<% end %>
<br>
<%= link_to "Log In with Google", '/auth/google_oauth2' %>
<br>
<%= link_to "Or Sign Up", signup_path %>
