<br>
<h1> <%= @project.name %> </h1>

<p> Description: <%= @project.description %> </p>
<br>
<p>TO DO:</p>
<% @todo_tasks.each do |task| %>
  <li>
    <%= link_to task.content, project_task_path(@project, task) %>
    <%= link_to '| Delete |', project_task_path(task.project, task), :controller => :tasks, :action => :destroy, method: :delete %>
    <%= link_to "Mark as complete", project_task_path(task.project, task), :controller => :tasks, :action => :update, method: :patch %>
  </li>
<% end %>
<br>
<p>COMPLETED:</p>
<% @completed_tasks.each do |task| %>
  <li>
    <%= link_to task.content, project_task_path(@project, task) %>
    <%= link_to '| Delete', project_task_path(task.project, task), :controller => :tasks, :action => :destroy, method: :delete %>
  </li>
<% end %>
<br>
<%= link_to "Add a new item", new_project_task_path(@project) %>